body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #0E2A47;
    color: white;
}



.container {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: start;
    height: 80vh;
}

#footer {
    /* position: absolute; */
    /* bottom: 0;
    margin: 0; */
    display: flex;
    justify-content: end;
    margin: 10px;
    padding: 1rem;
}

button{
    border: none;
    border-color: transparent;
    background-color: #edf6f9;
    border-radius: 5px;
}

button:hover{
    background-color: #0096c7;
}

/* <--> */
.horizontal-flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    
}

.chat-box{
    /* padding: 10px; */
   
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.chat-container{
    position: absolute;
    bottom: 0px;
    right: 450px;
}

/* ^ 
   |
   v
 */
.vertical-flex{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

#footer p {
    margin: 0;
}

.small-round-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.scrollable{
    overflow-y: auto;
}

.scrollable-x{
    overflow-x: auto;
}

.scrollable::-webkit-scrollbar{
    display: none;
}

.small-date{
    font-size: small;
}